
<div class="container ">
  <%= partial 'partials/banner' %>
  <%= partial 'partials/about' %>
  <%= partial 'partials/stacks' %>
  <%= partial 'partials/projects' %>
  <%= partial 'partials/social' %>
  <%= partial 'partials/chatbot' %>
</div>
